* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS GENERALES */
a {
  text-decoration-line: none; }

body {
  font-family: 'Source Serif 4', serif; }

#inicio-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid #A4171E 5px;
  border-bottom: solid #A4171E 1px;
  cursor: pointer;
  background-color: white; }
  #inicio-nav .container-fluid {
    flex-direction: column;
    align-items: normal; }
  #inicio-nav .navbar-expand {
    justify-content: center; }
  #inicio-nav a .logo {
    position: relative;
    width: 75px;
    transition: all 2s ease; }
    #inicio-nav a .logo:hover {
      transform: scale(1.1, 1.1); }
  #inicio-nav .menu-nav {
    margin-bottom: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; }
    #inicio-nav .menu-nav li {
      list-style: none;
      padding: 10px;
      font-size: 15px; }
      #inicio-nav .menu-nav li a {
        color: black; }
        #inicio-nav .menu-nav li a:hover {
          color: #ece1e1;
          background-color: #b30808;
          transition: all .3s;
          border-radius: 5px; }
  #inicio-nav .navbar-brand {
    margin-right: 0; }
  #inicio-nav .redes-sociales a img {
    padding: 10px;
    width: 40px; }
  #inicio-nav .img img {
    width: 30px;
    margin: 10px;
    transition: all .5s; }
    #inicio-nav .img img:hover {
      color: #ece1e1;
      background-color: #272222;
      border-radius: 5px; }

@media (min-width: 992px) {
  #inicio-nav .menu-nav {
    flex-direction: row; }
  #inicio-nav .container-fluid {
    flex-direction: row; } }

/* main index*/
main .carrusel {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  background-color: #f1ecec;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

main .texto-carrusel h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400; }

main .texto-carrusel p {
  text-align: center;
  font-size: 20px;
  margin: 20px; }

main .botones-carrusel {
  text-align: center;
  padding: 20px; }
  main .botones-carrusel button a {
    padding: 10px;
    color: #dfd2d2; }

main .boton {
  font-size: 1.5rem;
  font-weight: 16px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #801111; }
  main .boton:hover {
    color: white;
    background-color: #660c0c; }

main .texto-botones {
  margin-top: 20px; }

main .header-aline {
  justify-content: center !important; }

main .texto-index h5 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400; }
  main .texto-index h5 span {
    color: #A4171E; }

main .texto-index p {
  text-align: center;
  font-size: 20px;
  margin: 50px;
  padding: 50px; }
  main .texto-index p span {
    color: #A4171E; }

/* main QUIEN SOY*/
.qs__img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 100%; }

.quien-soy {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 90vh; }

.qs-1 {
  display: flex;
  flex-direction: column; }

.qs-int {
  padding: 30px; }

.qs-2 a {
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #64605A;
  text-align: center; }
  .qs-2 a:hover {
    color: white;
    background-color: #7e7d7b; }

.qs-2 {
  text-align: center; }
  .qs-2 h2 {
    font-size: 3rem; }
    .qs-2 h2 span {
      color: #A4171E; }
  .qs-2 h3 {
    font-size: 1.5rem; }
  .qs-2 h4 {
    font-size: 1rem; }
  .qs-2 p {
    text-align: center;
    margin: 20px; }

.background-redes-qs {
  background-color: #A4171E;
  padding: 30px; }

.qs-redes {
  text-align: center; }
  .qs-redes img {
    width: 80px;
    padding: 30px; }
    .qs-redes img:hover {
      color: #ece1e1;
      background-color: #272222;
      border-radius: 5px;
      transition: all .3s; }

/*  main SERVICIOS */
.fondo-servicios {
  background-color: #fff5f517; }

#servicios {
  text-align: center;
  margin-top: 20px; }
  #servicios h2 {
    align-items: center;
    font-size: 3rem;
    margin-top: 90px;
    margin-bottom: 70px;
    font-weight: 500; }
    #servicios h2 span {
      color: #A4171E; }

.servicios {
  align-items: center;
  display: flex;
  padding: 20px;
  text-align: center;
  margin-top: 20px; }

.contenedor-articulos {
  padding: 20px; }
  .contenedor-articulos .col-12 {
    margin-bottom: 20px; }

.articulo {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #ebe4e4;
  border: solid #ccb5b5 2px;
  padding: 10px;
  border-radius: 15px;
  border: solid #2c2929 3px;
  text-align: center; }
  .articulo:hover {
    background-color: #f8f8f8; }
  .articulo h3 {
    color: #A4171E;
    font-size: 1.5rem;
    padding: 10px; }
  .articulo p {
    padding: 20px; }

.fondo-footer-servicios {
  background-color: #64605A;
  align-items: center; }

.footer-int {
  text-align: center;
  display: flex;
  flex-direction: column; }

.tms {
  color: #fffefe;
  text-align: center;
  padding: 30px; }
  .tms:hover {
    color: #ccbebe; }

.ser {
  display: flex;
  justify-content: space-around; }

.scg {
  margin-bottom: 20px; }
  .scg a {
    color: black; }
  .scg button {
    border-radius: 5px;
    padding: 7px; }
    .scg button:hover {
      background-color: #d8cece; }

/* PROYECTOS*/
#proyectos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #proyectos h2 {
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-top: 60px; }
    #proyectos h2 span {
      color: #A4171E; }
  #proyectos p {
    text-align: center;
    padding: 7px; }

.proyectos__logo {
  margin-bottom: 30px;
  width: 200px;
  transition: all 2s ease; }
  .proyectos__logo:hover {
    transform: scale(1.1, 1.1); }

.contenedor-footer {
  height: 10vh; }

.cartas {
  margin: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-around; }

.carta {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.boton {
  font-size: 1.5rem;
  font-weight: 16px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #A4171E; }
  .boton:hover {
    color: white;
    background-color: #660c0c; }
  .boton a {
    color: white; }

.galeria__container .col-12 {
  margin-bottom: 30px; }

.galeria__item {
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .galeria__item:nth-child(1) {
    grid-row-start: span 3; }
  .galeria__item:nth-child(2) {
    grid-row-start: span 3; }

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeria__titulo {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 30px;
  height: 90px;
  width: 100%;
  margin: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  padding-left: 5px; }

/* CONTACTO*/
.contacto-form h2 {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Source Serif 4', serif; }
  .contacto-form h2 span {
    color: #A4171E; }

.form label,
input {
  margin: 4px; }

.contenedor-contacto {
  display: flex;
  justify-content: space-around; }

.contenedor-izq {
  display: flex;
  justify-content: center; }
  .contenedor-izq img {
    display: flex;
    flex-direction: column;
    width: 40px;
    margin: center;
    padding: 20px; }

.contacto-izq {
  font-size: 1.2rem; }
  .contacto-izq p {
    margin: 50px; }

form {
  margin: 30px;
  padding: 20px; }
  form label span {
    color: #A4171E; }
    form label span span {
      color: #A4171E; }

.contacto-footer {
  height: 15vh; }

.mapa {
  width: 40px; }

@media (max-width: 1020px) {
  main .header-aline {
    justify-content: space-around !important; }
  main .mapa {
    width: auto; } }

@media (min-width: 768px) {
  main .galeria__item {
    grid-template-columns: repeat(4, 1fr); }
  main .mapa {
    width: auto; } }

@media (min-width: 992px) {
  main .carrusel {
    width: 60%; }
  main .quien-soy {
    flex-direction: row; }
  main .qs-1,
  main .qs-2 {
    width: 50%;
    min-width: 50%; }
  main .qs__img {
    width: auto; }
  main .mapa {
    width: auto; } }

/* FOOTER */
footer {
  background-color: #A4171E;
  cursor: pointer;
  padding: 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  footer .redes-sociales a img,
  footer .redes-sociales-2 a img {
    padding: 10px;
    padding: 10px;
    width: 40px; }
    footer .redes-sociales a img:hover,
    footer .redes-sociales-2 a img:hover {
      color: #ece1e1;
      background-color: #272222;
      border-radius: 5px;
      transition: all .3s; }
  footer .footer__copyrihtg {
    padding-left: 10px;
    color: #fff; }

@media (min-width: 992px) {
  footer {
    flex-direction: row; } }
