* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ESTILOS GENERALES */
a {
  text-decoration-line: none; }

body {
  font-family: 'Source Serif 4', serif; }

.logo {
  position: relative;
  width: 75px;
  transition: all 2s ease; }

.logo:hover {
  transform: scale(1.1, 1.1); }

#inicio-nav {
  background-color: white; }

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid #b30808 5px;
  border-bottom: solid #b30808 1px;
  cursor: pointer; }

.menu-nav {
  margin-bottom: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

.menu-nav li {
  list-style: none;
  padding: 10px;
  font-size: 15px; }

.menu-nav li a {
  color: black; }

nav ul li a:hover {
  color: #ece1e1;
  background-color: #b30808;
  transition: all .3s;
  border-radius: 5px; }

.navbar-brand {
  margin-right: 0; }

.redes-sociales a img {
  padding: 10px;
  width: 40px; }

.img img {
  width: 30px;
  margin: 10px;
  transition: all .5s; }

.img img:hover {
  color: #ece1e1;
  background-color: #272222;
  border-radius: 5px; }

/* main index*/
.carrusel {
  width: 60%;
  margin: auto;
  margin-bottom: 100px;
  background-color: #f1ecec;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.texto-carrusel h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400; }

.texto-carrusel p {
  text-align: center;
  font-size: 20px;
  margin: 20px; }

.botones-carrusel {
  text-align: center;
  padding: 20px; }

.botones-carrusel button a {
  padding: 10px;
  color: #dfd2d2; }

.boton {
  font-size: 1.5rem;
  font-weight: 16px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #801111; }

.boton:hover {
  color: white;
  background-color: #660c0c; }

.texto-botones {
  margin-top: 20px; }

.header-aline {
  justify-content: center !important; }

/* main QUIEN SOY*/
.qs__img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 100%; }

.quien-soy {
  flex-direction: column;
  display: flex;
  align-items: center;
  min-height: 90vh; }

.qs-1 {
  display: flex;
  flex-direction: column; }

.qs-int {
  padding: 30px; }

.qs-2 a {
  display: block;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #584a4a;
  text-align: center; }

.qs-2 a:hover {
  color: white;
  background-color: #352b2b; }

.qs-2 {
  text-align: center; }

.qs-2 h2 span {
  color: #920f0f; }

.qs-2 h2 {
  font-size: 3rem; }

.qs-2 h3 {
  font-size: 1.5rem; }

.qs-2 h4 {
  font-size: 1rem; }

.qs-2 p {
  text-align: center;
  margin: 20px; }

.background-redes-qs {
  background-color: #5f0404;
  padding: 30px; }

.qs-redes .img img {
  width: 80px;
  padding: 30px; }

.qs-redes {
  text-align: center; }

/*  main SERVICIOS */
.fondo-servicios {
  background-image: url("../img/fondo-servicios.jpg"); }

#servicios {
  text-align: center;
  margin-top: 20px; }

.servicios {
  align-items: center;
  display: flex;
  padding: 20px;
  text-align: center;
  margin-top: 20px; }

#servicios h2 {
  align-items: center;
  font-size: 3rem;
  margin-top: 90px;
  margin-bottom: 70px;
  font-weight: 500; }

#servicios h2 span {
  color: #920f0f; }

.contenedor-articulos {
  padding: 20px; }

.contenedor-articulos .col-12 {
  margin-bottom: 20px; }

.articulo {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #ebe4e4;
  border: solid #ccb5b5 2px;
  padding: 10px;
  border-radius: 15px;
  border: solid #2c2929 3px;
  text-align: center; }

.articulo:hover {
  background-color: #f8f8f8; }

.articulo h3 {
  color: #920f0f;
  font-size: 1.5rem;
  padding: 10px; }

.articulo p {
  padding: 20px; }

.fondo-footer-servicios {
  background-color: #423c3c;
  align-items: center; }

.footer-int {
  text-align: center;
  display: flex;
  flex-direction: column; }

.tms {
  color: #fffefe;
  text-align: center;
  padding: 30px; }

.tms:hover {
  color: #ccbebe; }

.ser {
  display: flex;
  justify-content: space-around; }

.scg {
  margin-bottom: 20px; }

.scg a {
  color: black; }

.scg button {
  border-radius: 5px;
  padding: 7px; }

.scg button:hover {
  background-color: #d8cece; }

/* PROYECTOS*/
#proyectos {
  display: flex;
  flex-direction: column;
  align-items: center; }

#proyectos h2 {
  align-items: center;
  font-size: 3rem;
  font-weight: 500; }

#proyectos h2 span {
  color: #920f0f; }

#proyectos h2 {
  text-align: center;
  margin-top: 60px; }

#proyectos p {
  text-align: center;
  padding: 7px; }

.proyectos__logo {
  width: 200px;
  transition: all 2s ease; }

.proyectos__logo:hover {
  transform: scale(1.1, 1.1); }

.contenedor-footer {
  height: 10vh; }

.cartas {
  margin: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-around; }

.carta {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.boton {
  font-size: 1.5rem;
  font-weight: 16px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #801111; }

.boton:hover {
  color: white;
  background-color: #660c0c; }

.boton a {
  color: white; }

.galeria__container .col-12 {
  margin-bottom: 30px; }

.galeria__item {
  height: 100%;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeria__titulo {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 20px;
  width: 100%;
  margin: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), black);
  padding-left: 5px; }

.galeria__item:nth-child(1) {
  grid-row-start: span 3; }

.galeria__item:nth-child(2) {
  grid-row-start: span 3; }

/* CONTACTO*/
.contacto-form h2 span {
  color: #920f0f; }

.contacto-form h2 {
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Source Serif 4', serif; }

.form label,
input {
  margin: 4px; }

.contenedor-contacto {
  display: flex;
  justify-content: space-around; }

.contenedor-izq {
  display: flex;
  justify-content: center; }

.contacto-izq img {
  display: flex;
  flex-direction: column;
  width: 40px;
  margin: center;
  padding: 20px; }

.contacto-izq {
  font-size: 1.2rem; }

.contacto-izq p {
  margin: 50px; }

form {
  margin: 30px;
  padding: 20px; }

form label span {
  color: red; }

.contacto-footer {
  height: 15vh; }

/* FOOTER */
footer {
  background-color: #850909;
  cursor: pointer;
  padding: 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.redes-sociales-2 a img {
  padding: 10px;
  padding: 10px;
  width: 40px; }

.img img {
  width: 30px; }

.footer__copyrihtg {
  padding-left: 10px;
  color: #b6b2b2; }

@media (max-width: 1020px) {
  .header-aline {
    justify-content: space-around !important; } }

@media (min-width: 768px) {
  .galeria__item {
    grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 992px) {
  .quien-soy {
    flex-direction: row; }
  .menu-nav {
    flex-direction: row; }
  .container-fluid {
    flex-direction: row; }
  .qs-1,
  .qs-2 {
    width: 50%;
    min-width: 50%; }
  footer {
    flex-direction: row; }
  .qs__img {
    width: auto; } }
