/* FOOTER */

footer {
    background-color: $fondo1;
    cursor: pointer;
    padding: 40px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .redes-sociales a img,
    .redes-sociales-2 a img {
        padding: 10px;
        padding: 10px;
        width: 40px;
    }

    .footer__copyrihtg {
        padding-left: 10px;
        color: #64605A;
    }

}