/* main index*/

main {
    .carrusel {
        width: 100%;
        margin: auto;
        margin-bottom: 100px;
        background-color: rgb(241, 236, 236);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .texto-carrusel {

        h1 {
            text-align: center;
            font-size: 3rem;
            font-weight: 400;
        }

        p {
            text-align: center;
            font-size: 20px;
            margin: 20px;
        }
    }

    .botones-carrusel {
        text-align: center;
        padding: 20px;

        & button a {
            padding: 10px;
            color: rgb(223, 210, 210);
        }
    }

    .boton {
        font-size: 1.5rem;
        font-weight: 16px;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: rgb(128, 17, 17);

        &:hover {
            color: white;
            background-color: rgb(102, 12, 12);
        }

    }

    .texto-botones {
        margin-top: 20px;
    }

    .header-aline {
        justify-content: center !important;
    }

    /* main QUIEN SOY*/

    .qs__img {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        max-width: 100%;
    }

    .quien-soy {
        flex-direction: column;
        display: flex;
        align-items: center;
        min-height: 90vh;
    }

    .qs-1 {
        display: flex;
        flex-direction: column;
    }

    .qs-int {
        padding: 30px;
    }

    .qs-2 a {
        display: block;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: #64605A;
        text-align: center;

        &:hover {
            color: white;
            background-color: #7e7d7b;
        }
    }

    .qs-2 {
        text-align: center;

        h2 {
            font-size: 3rem;

            span {
                color: $fondo1;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1rem;
        }

        p {
            text-align: center;
            margin: 20px;
        }
    }


    .background-redes-qs {
        background-color: $fondo1;
        padding: 30px;
    }

    .qs-redes {
        text-align: center;

        img {
            width: 80px;
            padding: 30px;
        }
    }

    /*  main SERVICIOS */

    .fondo-servicios {
        background-color: $fondo2;
    }

    #servicios {
        text-align: center;
        margin-top: 20px;

        h2 {
            align-items: center;
            font-size: 3rem;
            margin-top: 90px;
            margin-bottom: 70px;
            font-weight: 500;

            span {
                color: $fondo1;
            }
        }
    }

    .servicios {
        align-items: center;
        display: flex;
        padding: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .contenedor-articulos {
        padding: 20px;

        .col-12 {
            margin-bottom: 20px;
        }

    }

    .articulo {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: rgb(235, 228, 228);
        border: solid rgb(204, 181, 181) 2px;
        padding: 10px;
        border-radius: 15px;
        border: solid rgb(44, 41, 41) 3px;
        text-align: center;

        &:hover {
            background-color: rgb(248, 248, 248);
        }

        h3 {
            color: $fondo1;
            font-size: 1.5rem;
            padding: 10px;
        }

        p {
            padding: 20px;
        }

    }

    .fondo-footer-servicios {
        background-color: $fondo2;
        align-items: center;
    }

    .footer-int {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .tms {
        color: rgb(255, 254, 254);
        text-align: center;
        padding: 30px;

        &:hover {
            color: rgb(204, 190, 190);
        }
    }

    .ser {
        display: flex;
        justify-content: space-around
    }

    .scg {
        margin-bottom: 20px;

        a {
            color: black;
        }

        button {
            border-radius: 5px;
            padding: 7px;

            &:hover {
                background-color: rgb(216, 206, 206);
            }

        }
    }

    /* PROYECTOS*/

    #proyectos {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            align-items: center;
            font-size: 3rem;
            font-weight: 500;
            text-align: center;
            margin-top: 60px;

            span {
                color: $fondo1;
            }
        }

        p {
            text-align: center;
            padding: 7px;
        }
    }

    .proyectos__logo {
        margin-bottom: 30px;
        width: 200px;
        transition: all 2s ease;

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    .contenedor-footer {
        height: 10vh;
    }

    .cartas {
        margin: 40px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }

    .carta {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .boton {
        font-size: 1.5rem;
        font-weight: 16px;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: $fondo1;

        &:hover {
            color: white;
            background-color: rgb(102, 12, 12);
        }

        a {
            color: white;
        }
    }

    .galeria__container .col-12 {
        margin-bottom: 30px;
    }

    .galeria__item {
        height: 100%;
        margin-bottom: 20px;
        position: relative;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

        &:nth-child(1) {
            grid-row-start: span 3;
        }

        &:nth-child(2) {
            grid-row-start: span 3;
        }
    }

    .galeria__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .galeria__titulo {
        position: absolute;
        bottom: 0;
        color: white;
        font-size: 20px;
        width: 100%;
        margin: 0;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
        padding-left: 5px;
    }

    /* CONTACTO*/

    .contacto-form h2 {
        text-align: center;
        padding: 20px;
        margin: 20px;
        font-size: 3rem;
        font-weight: 500;
        font-family: 'Source Serif 4', serif;

        span {
            color: $fondo1;
        }
    }

    .form label,
    input {
        margin: 4px;
    }

    .contenedor-contacto {
        display: flex;
        justify-content: space-around;
    }

    .contenedor-izq {
        display: flex;
        justify-content: center;

        img {
            display: flex;
            flex-direction: column;
            width: 40px;
            margin: center;
            padding: 20px;
        }
    }

    .contacto-izq {
        font-size: 1.2rem;

        p {
            margin: 50px;
        }
    }

    form {
        margin: 30px;
        padding: 20px;

        label span {
            color: $fondo1;

            span {
                color: $fondo1;
            }
        }
    }

    .contacto-footer {
        height: 15vh;
    }
}


@media (max-width:1020px) {
    main {
        .header-aline {
            justify-content: space-around !important;
        }
    }
}

@media (min-width:768px) {
    main {
        .galeria__item {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media (min-width:992px) {
    main {
        .carrusel {
            width: 60%;
        }

        .quien-soy {
            flex-direction: row;
        }

        .qs-1,
        .qs-2 {
            width: 50%;
            min-width: 50%
        }

        .qs__img {
            width: auto;
        }
    }
}