@media (max-width:1020px) {
    .header-aline {
        justify-content: space-around !important;
    }
}

@media (min-width:768px) {
    .galeria__item {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:992px) {

    .quien-soy {
        flex-direction: row;
    }

    .menu-nav {
        flex-direction: row;
    }

    .container-fluid {
        flex-direction: row;
    }

    .qs-1,
    .qs-2 {
        width: 50%;
        min-width: 50%
    }

    footer {
        flex-direction: row;
    }

    .qs__img {

        width: auto;
    }
}