/* para DESKTOP */

@media only screen and (min-width:992px) {
    #inicio-nav {
        .menu-nav {
            flex-direction: row;
        }

        .container-fluid {
            flex-direction: row;
        }
    }
}

/*para pantalla de tamaño medium*/

@media only screen and (max-width:1020px) {
    main {
        .header-aline {
            justify-content: space-around !important;
        }

        .mapa {
            width: auto;
        }
    }
}

/* para tablet*/

@media only screen and (min-width:768px) {
    main {
        .galeria__item {
            grid-template-columns: repeat(4, 1fr);
        }

        .mapa {
            width: auto;
        }
    }
}

/* para DESKTOP */

@media only screen and (min-width:992px) {
    main {
        .carrusel {
            width: 60%;
        }

        .quien-soy {
            flex-direction: row;
        }

        .qs-1,
        .qs-2 {
            width: 50%;
            min-width: 50%
        }

        .qs__img {
            width: auto;
        }

        .mapa {
            width: auto;
        }
    }
}

/* para DESKTOP */

@media only screen and (min-width:992px) {
    footer {
        flex-direction: row;
    }
}